<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Adoptar</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Adoptar_Mascota/Adoptar_Mascota.css">
    <link rel="stylesheet" href="../static/Resources/Letras.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <link rel="stylesheet" href="../static/Footer/Footer.css">
    <link rel="stylesheet" href="../static/Menu/Menu.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="icon" href="../static/Resources/img/logo.png" type="image/icon type">
</head>

<body>

<header>
    <main-menu-usuario></main-menu-usuario>
    <div class="contenedor-base">
        <div class="contenedor-texto-header">
            <h1 class="titulo-principal">Adoptar una Mascota</h1>
        </div>
    </div>
</header>

<section class="main">

        <div class="contenedor-base">

            <div class="texto">
                <h3 class="sub-titulo">¿Cómo Adopto una Mascota?</h3>
                <p class="texto-simple">Adoptar una mascota es muy sencillo. Antes de comenzar, lee atentamente los siguientes pasos.</p>
            </div>

            <div class="imagenes-instructivas">

                <div class="contenedor-instruccion">
                    <div class="img-instructiva">
                        <img src="../static/Adoptar_Mascota/img/search.jpg" width="150" alt="Lupa">
                    </div>
                    <div class="instruccion texto-simple">
                        <p>Primero podrás buscar entre las publicaciones existentes de mascotas en adopción si se encuentra alguna que se ajuste a tus gustos y preferencias.</p>
                    </div>
                </div>

                <div class="contenedor-instruccion">
                    <div class="img-instructiva">
                        <img src="../static/Adoptar_Mascota/img/match.jpg" width="150" alt="Match">
                    </div>
                    <div class="instruccion texto-simple">
                        <p>Si estás interesado en alguna de ellas, podrás seleccionarla y el sistema le avisará al actual dueño sobre la situación, quien se pondrá en contacto contigo lo antes posible.</p>
                    </div>
                </div>

                <div class="contenedor-instruccion">
                    <div class="img-instructiva">
                        <img src="../static/Adoptar_Mascota/img/form.jpg" width="150" alt="Form">
                    </div>
                    <div class="instruccion texto-simple">
                        <p>En caso de que no encuentres a tu mascota ideal, podrás generar una publicación que demuestre tu intención de hacerlo y especificar tus preferencias para tu nueva mascota.</p>
                    </div>
                </div>

                <div class="contenedor-instruccion">
                    <div class="img-instructiva">
                        <img src="../static/Adoptar_Mascota/img/email.jpg" width="150" alt="Email">
                    </div>
                    <div class="instruccion texto-simple">
                        <p>Se te enviará por mail un enlace para que puedas cancelar la publicación en cualquier momento.</p>
                    </div>
                </div>

                <div class="contenedor-instruccion">
                    <div class="img-instructiva">
                        <img src="../static/Adoptar_Mascota/img/bell.jpg" width="150" alt="Notificacion">
                    </div>
                    <div class="instruccion texto-simple">
                        <p>Semanalmente se te notificará por tus medios preferidos recomendaciones de mascotas en adopción que se ajusten a lo que estés buscando.</p>
                    </div>
                </div>

            </div>

            <a href="Publicaciones_Adopcion.html">
                <input class="botonAzul boton" type="button" value="Comenzar">
            </a>

        </div>

</section>

<main-footer></main-footer>

<script src="../static/Footer/Footer.js"></script>
<script src="../static/Menu/Menu.js"></script>
<script src="../static/Resources/ValidarUsuario.js"></script>

</body>
</html>