<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Buscar Hogar</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Resources/Letras.css">
    <link rel="stylesheet" href="../static/Buscar_Hogar/Buscar_Hogar.css">
    <link rel="stylesheet" href="../static/Resources/normalize.css">
    <link rel="stylesheet" href="../static/Footer/Footer.css">
    <link rel="stylesheet" href="../static/Menu/Menu.css">
    <link rel="stylesheet" href="../static/Resources/Filtro.css">
    <link rel="stylesheet" href="../static/Resources/Boton.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="icon" href="../static/Resources/img/logo.png" type="image/icon type">
</head>

<body>

<header>
    <main-menu-usuario></main-menu-usuario>
    <div class="contenedor-base">
        <div class="contenedor-texto-header">
            <h1 class="titulo-principal">Hogares de Tránsito</h1>
        </div>
    </div>
</header>

<section class="main" id="app">

    <section class="acerca-de">
        <div class="contenedor-base">

            <div class="texto">
                <h3 class="sub-titulo">Acerca de Nuestros Hogares</h3>
                <p class="texto-simple">Contamos con hogares de tránsito para alojar a las mascotas perdidas mientras esperamos a que aparezcan sus dueños. Cada hogar posee sus propias restricciones para la admisión de mascotas, por lo que al momento de elegir un hogar deberás tener en cuenta las siguientes características</p>
            </div>

            <div class="imagenes-instructivas">
                <img src="../static/Buscar_Hogar/img/img.png" alt="">
            </div>

        </div>
    </section>

    <section class="hogares">

        <section class="filtro">
            <div class="contenedor-base">
                <div class="contenedor-hogares-opciones">

                    <p class="sub-titulo">Todos los Hogares</p>

                    <div class="dropdownOrdenar">
                        <button class="dropbtn" @click="orderByName">
                            <p class="texto-boton">Ordenar</p>
                            <img src="../static/Buscar_Hogar/img/ordenar.png" alt="Ordenar">
                        </button>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">
                            <p class="texto-boton">Filtrar</p>
                            <img src="../static/Buscar_Hogar/img/filtro.png" alt="Filtrar">
                        </button>
                        <div class="dropdown-content">
                            <div class="seccion-filtro">

                                <div class="titulo-check">
                                    <label >Admisiones</label>
                                </div>

                                <div class="opciones-check">
                                    <input type="checkbox" id="gatos" value="gatos" name="tipoMascota" v-model="check">
                                    <label class="texto-simple">Gatos</label>

                                    <input type="checkbox" id="perros" value="perros" name="tipoMascota" v-model="check">
                                    <label class="texto-simple">Perros</label>
                                </div>

                            </div>

                            <div class="seccion-filtro">
                                <div class="titulo-check">
                                    <label class="titulo-check">Características</label>
                                </div>

                                <div class="opciones-check">
                                    <input type="checkbox" id="PATIO" name="poseePatio">
                                    <label  class="texto-simple">Poseen Patio</label>

                                    <input type="checkbox" id="LUGARES_DISPONIBLES" name="hayLugares">
                                    <label  class="texto-simple">Tienen Lugares Disponibles</label>
                                </div>
                            </div>

                            <div class="reset-filtros">
                                <div class="texto-borrar">
                                    <input class="boton-filtro" type="submit" @click="reset" value="Borrar Filtros" style="color: #B93122;">
                                </div>
                                <div class="texto-fin">
                                    <input class="boton-filtro" type="submit" @click="cancelar" value="Cancelar" style="color:#57565B">
                                </div>
                                <div class="texto-fin">
                                    <input class="boton-filtro" type="submit" value="Aceptar" @click="filtrar" style="color:#1DA1F2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="publicaciones">
            <div class="contenedor-base">

                <div class="contenedor-hogares">
                    <div v-for="hogar in hogares">
                        <div class="flip-card">

                            <div class="flip-card-inner">
                                <div class="flip-card-front box">

                                    <p class="card-title">{{hogar.nombre}}</p>
                                    <p class="texto-simple">Dirección: {{hogar.ubicacion.direccion}}</p>
                                    <br>
                                    <p class="texto-simple">Teléfono: {{hogar.telefono}}</p>
                                    <br>
                                    <br>

                                    <div class="note">
                                        <div class="admisiones" v-if="hogar.admisiones.gatos">
                                            <p>Gatos</p>
                                        </div>
                                        <div class="admisiones" v-if="hogar.admisiones.perros">
                                            <p>Perros</p>
                                        </div>
                                        <div class="lugares-disponibles">
                                            <p>{{hogar.lugares_disponibles}} lugares disponibles</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="flip-card-back">
                                    <p class="card-title">¡Conoce al hogar!</p>
                                    <p class="texto-simple">Capacidad total: {{hogar.capacidad}} mascotas</p>
                                    <br>
                                    <p class="texto-simple">Aceptan mascotas que cumplan con las siguientes características: {{hogar.caracteristicas.join(', ')}} </p>
                                    <br>
                                    <p class="texto-simple" v-if="hogar.patio">Posee patio</p>
                                    <a :href="'https://www.google.com/maps/place/' + hogar.ubicacion.lat + ',' + hogar.ubicacion.long" class="note">
                                        <img src="../static/Buscar_Hogar/img/maps.png" alt="Mapa" height="50">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p @click="agregar" class="boton-mas">Cargar mas</p>

                </div>
            </div>
        </section>
    </section>
</section>

<main-footer></main-footer>

<script src="../static/Footer/Footer.js"></script>
<script src="../static/Menu/Menu.js"></script>
<script src="../static/Resources/ValidarUsuario.js"></script>
<script src="../static/Buscar_Hogar/Buscar_Hogar.js"></script>

</body>
</html>