<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Publicaciones Adopcion</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/Resources/Letras.css">
  	<link rel="stylesheet" href="../static/Resources/Boton.css">
	<link rel="stylesheet" href="../static/Resources/normalize.css">
	<link rel="stylesheet" href="../static/Footer/Footer.css">
	<link rel="stylesheet" href="../static/Menu/Menu.css">
	<link rel="stylesheet" href="../static/Resources/Filtro.css">
	<link rel="stylesheet" href="../static/Resources/Publicaciones.css">
	<link rel="stylesheet" href="../static/Publicaciones_Adopcion/Publicaciones_Adopcion.css">
	<link rel="icon" href="../static/Resources/img/logo.png" type="image/icon type">
</head>

<body>

 	<header>
		<main-menu-usuario></main-menu-usuario>
		<div class="contenedor-base">
			<div class="contenedor-texto-header">
				<h1 class="titulo-principal">Mascotas en Adopción</h1>
			</div>
    	</div>
  	</header>

  <section class="main" id="publicacionesAdopcion">

	  <!-- ACERCA - DE -->

	  <section class="acerca-de">
		  <div class="contenedor-base">

			  <h3 class="sub-titulo">¿Buscas una Mascota para Adoptar?</h3>

		  </div>
	  </section>

	  <!-- PUBLICACIONES RECIENTES -->

	  <section class="recientes">
		  <div class="contenedor-base">

			  <p class="sub-titulo">Publicaciones Recientes</p>

			  <div class="fotos">
				  <a   v-for="publicacion in recientes" :href="'Publicacion_Adopcion.html?publicacion=' + publicacion.id"  class="foto">
					  <div class="square-box">
						  <img class="square-content" v-bind:src="publicacion.mascota.fotos[0].contenidoBase64" :alt="publicacion.mascota.apodo">
					  </div>
				  </a>
			  </div>
		  </div>
	  </section>

	  <!-- TODAS LAS PUBLICACIONES -->

	  <section class="publicaciones">

		  <!-- FILTROS -->

		  <section class="filtro">
			  <div class="contenedor-base">
				  <div class="contenedor-opciones">

					  <p class="sub-titulo">Todas las Publicaciones</p>

					  <a class="dropdownOrdenar">
						  <button class="dropbtn" @click="orderByname">
							  <p class="texto-boton">Ordenar</p>
							  <img src="../static/Publicaciones_Adopcion/img/ordenar.png" alt="Ordenar">
						  </button>
					  </a>
					  <div class="dropdown">
						  <button class="dropbtn">
							  <p class="texto-boton">Filtrar</p>
							  <img src="../static/Publicaciones_Adopcion/img/filtro.png" alt="Ordenar">
						  </button>

						  <div class="dropdown-content">

							  <div class="seccion-filtro">
								  <div class="titulo-check">
									  <label>Especie</label>
								  </div>

								  <div class="opciones-check">
									  <input type="checkbox" id="GATO" name="gato" value="GATO"  v-model="check">
									  <label class="texto-simple">Gato</label>

									  <input type="checkbox" id="PERRO" name="perro" value="PERRO"  v-model="check">
									  <label class="texto-simple">Perro</label>
								  </div>
							  </div>

							  <div class="reset-filtros">
								  <div class="texto-borrar">
									  <button class="boton-filtro" value="Borrar Filtros"  @click="reset();filtrar();" style="color: #B93122;">Borrar Filtros</button>
								  </div>
								  <div class="texto-fin">
									  <button class="boton-filtro"  value="Cancelar" style="color:#57565B"  @click="reset">Cancelar</button>
								  </div>
								  <div class="texto-fin">
									  <button  class="boton-filtro" style="color:#1DA1F2"  @click="filtrar">Aceptar</button>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </section>

		  <!-- PUBLICACIONES -->

		  <section class="publicaciones">
			  <div class="contenedor-grande">
				  <div class="fotos">
					  <a :href="'Publicacion_Adopcion.html?publicacion=' + publicacion.id"  class="foto" v-for="publicacion in publicacionesMacotas">
						  <div class="square-box">
							  <img class="square-content" v-bind:src="publicacion.mascota.fotos[0].contenidoBase64" :alt="publicacion.mascota.apodo"/>
						  </div>

						  <p class="texto-simple">{{publicacion.mascota.apodo}}</p>
					  </a>
				  </div>
				  <p @click="agregar" class="boton-mas">Cargar mas</p>
			  </div>
		  </section>

	  </section>

	  <section class="crear">
		  <h3 class="sub-titulo">¿No encontraste tu mascota ideal? ¡No hay problema!</h3>
		  <a href="Crear_Publicacion.html">
			  <input class="botonAzul boton" type="submit" value="Crear Publicación">
		  </a>
	  </section>

  </section>

  <main-footer></main-footer>

	<script src="../static/Publicaciones_Adopcion/PublicacionesAdopcion.js"></script>
	<script src="../static/Footer/Footer.js"></script>
	<script src="../static/Menu/Menu.js"></script>
	<script src="../static/Resources/ValidarUsuario.js"></script>

</body>
</html>
