#map {
    width:600px;
    height: 600px;
    margin: 30px 0;
}

.lat_long {
    display: inline-block;
}

.input_lat_long {
    width: 200px;
    height: 50px;
    border: 1px solid #C1C0C5;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 20px;
}

/* ERRORES */

.tarjeta-error {
	border-radius: 15px;
	border: 2px solid red;
	padding: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tarjeta-error img {
    float: right;
    margin: auto 0;
}

.tarjeta-error .texto-simple {
    color: red;
}