.sub-titulo {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.texto-simple {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #57565B;
}

.texto-sub {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #57565B;
}

.texto-error {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: red;
}
